.h-text {
  text-align: center;
  padding: 50px 0px !important; /* Adds 20px of padding to the top and bottom */
}


.info-section {
  color: #0c2340;
}


.u-button {
  display: inline-block; /* Allows for padding and margin */
  padding: 8px 8px; /* Adds space inside the button */
  background-color: #F15A22; /* Button background color */
  color: white; /* Font color */
  text-decoration: none; /* Removes underline from the link */
  border-radius: 10px; /* Rounded corners */
  font-weight: bold; /* Bold text */
  transition: color 0.3s ease; /* Smooth color change on hover */
  margin-bottom: 100px;
  float: right; /* Aligns button to the right */

}



/* Hover effect */


.u-button:hover {
  color: #0C2340;/* Changes font color on hover */
  transform: scale(1.1); /* Slightly enlarge on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

.u-button:active {
  transform: scale(0.95); /* Shrink on click */
}


@media (max-width: 575px) {

  .u-button {
    margin-bottom: 100px;
    float: right; /* Aligns button to the right */  
  }

}
